In [1]:
import pandas as pd

In [39]:
df = pd.read_csv('sum_data (1).csv')
df1 = pd.read_csv('sum007.csv')
df2 = pd.read_csv('sum008.csv')
df3 = pd.read_csv('sum009.csv')

In [40]:
type(df2['c_r_sum'])

pandas.core.series.Series

In [41]:
l1 = df1['c_r_sum'].to_list()
l2 = df2['c_r_sum'].to_list()
l3 = df3['c_r_sum'].to_list()

In [42]:
l = l1+l2+l3

In [43]:
len(l)

983

In [44]:
c = df['content'].to_list()

In [45]:
len(c)

1000

In [46]:
c = c[0:983]

In [47]:
len(c)

983

In [48]:
v = df['topic'].to_list()
v = v[0:983]

In [49]:
f = []
for i in range(983):
    t = [v[i],c[i],l[i]]
    f.append(t)

In [50]:
len(f)

983

In [51]:
final_df = pd.DataFrame(f,columns=["topic","content",'c_summary'])

In [52]:
final_df

,topic,content,c_summary
0,#OpenAI,exciting news from openai they have just relea...,chatgpt\nOpenAI has released their ChatGPT an...
1,#OpenAI,the first words i typed this morning git fetc...,\n\nThis set of tweets discusses the recent la...
2,#OpenAI,i morning briefing how are universities dealin...,\n\nThis set of tweets is discussing the use o...
3,#OpenAI,the speed at with microsoft is executing on o...,"\n\nThis set of tweets is discussing OpenAI, a..."
4,#OpenAI,openai integration tools for odoo editor are n...,\n\nThis set of tweets discusses the integrati...
...,...,...,...
978,AI,bentocaipira hahahahahawelcome to the club do ...,This set of tweets discusses the changing perc...
979,AI,demain live minimum 4h 2 clip twitter car je ...,\n\nTomorrow there will be a live stream for a...
980,AI,a pior coisa faith eu lose meu cartao vt justo...,\n\nThis set of tweets discusses a variety of ...
981,AI,ai se on muuttunu jo noin ovelaksi toi nuha......,\n\nThis group of tweets is discussing a varie...
982,AI,ptn jpeux pas regarder le match j'ai pas bein ...,\n\nThis set of tweets talks about various top...

In [53]:
def removen(x):
    return x.replace("\n","")
final_df['c_summary'] = final_df['c_summary'].apply(lambda x: removen(x) )

In [54]:
final_df

,topic,content,c_summary
0,#OpenAI,exciting news from openai they have just relea...,chatgptOpenAI has released their ChatGPT and ...
1,#OpenAI,the first words i typed this morning git fetc...,This set of tweets discusses the recent launch...
2,#OpenAI,i morning briefing how are universities dealin...,This set of tweets is discussing the use of Op...
3,#OpenAI,the speed at with microsoft is executing on o...,"This set of tweets is discussing OpenAI, a com..."
4,#OpenAI,openai integration tools for odoo editor are n...,This set of tweets discusses the integration o...
...,...,...,...
978,AI,bentocaipira hahahahahawelcome to the club do ...,This set of tweets discusses the changing perc...
979,AI,demain live minimum 4h 2 clip twitter car je ...,Tomorrow there will be a live stream for at le...
980,AI,a pior coisa faith eu lose meu cartao vt justo...,This set of tweets discusses a variety of topi...
981,AI,ai se on muuttunu jo noin ovelaksi toi nuha......,This group of tweets is discussing a variety o...
982,AI,ptn jpeux pas regarder le match j'ai pas bein ...,"This set of tweets talks about various topics,..."

In [55]:
final_df.to_csv("final_data.csv")

In [3]:
out_df = pd.read_csv('tweetsum_train.csv')
in_df = pd.read_csv('final_data.csv')
val_df = pd.read_csv('tweetsum_valid.csv')

In [57]:
out_df

,inputs,summaries
0,So neither my iPhone nor my Apple Watch are re...,Customer enquired about his Iphone and Apple w...
1,AskAmex Where do I write to address a customer...,Signed up for an AmexCard with Delta but it di...
2,"AmazonHelp Wow, expected 4 packages yesterday,...",The customer have a problem. The agent is very...
3,GWRHelp Id rather you spent some time making y...,Customer cannot purchase a train ticket on the...
4,AirAsiaSupport doesnt seem like a customers t...,The client is visibly upset with the service. ...
...,...,...
864,"Hi John, could you please follow us as this a...",Customer is enquiring about returing an item....
865,Tesco Yet again I am here for my appointment. ...,Customer is complaining that Opticians are not...
866,"O2 Your PAYG SIM ordering page is broken, fill...",Customer is complaining about the issue with f...
867,NortonSupport How do I remove expired subs fro...,Customer is asking how to remove expired subs ...
868,Im done! wellsfargo has horrible customer serv...,The Customer is complaining about the service ...

In [4]:
in_df

,Unnamed: 0,topic,content,c_summary
0,0,#OpenAI,exciting news from openai they have just relea...,chatgptOpenAI has released their ChatGPT and ...
1,1,#OpenAI,the first words i typed this morning git fetc...,This set of tweets discusses the recent launch...
2,2,#OpenAI,i morning briefing how are universities dealin...,This set of tweets is discussing the use of Op...
3,3,#OpenAI,the speed at with microsoft is executing on o...,"This set of tweets is discussing OpenAI, a com..."
4,4,#OpenAI,openai integration tools for odoo editor are n...,This set of tweets discusses the integration o...
...,...,...,...,...
978,978,AI,bentocaipira hahahahahawelcome to the club do ...,This set of tweets discusses the changing perc...
979,979,AI,demain live minimum 4h 2 clip twitter car je ...,Tomorrow there will be a live stream for at le...
980,980,AI,a pior coisa faith eu lose meu cartao vt justo...,This set of tweets discusses a variety of topi...
981,981,AI,ai se on muuttunu jo noin ovelaksi toi nuha......,This group of tweets is discussing a variety o...
982,982,AI,ptn jpeux pas regarder le match j'ai pas bein ...,"This set of tweets talks about various topics,..."

In [5]:
val_df

,inputs,summaries
0,"SpotifyCares hey, any explanation why the Crea...",Customer is complaining about unable to create...
1,GWRHelp 1st class WiFi is slower then dial up....,Customer is complaining about the slow wifi co...
2,UberSupport I was just charged 1 for no reaso...,Customer is complaining about charged 1$ for n...
3,when you say click the banner for 30 minutes ...,The customer says spotify followed up by thank...
4,Have to stop using Tigo Ghana for my Internet ...,The customer is complaining that his internet ...
...,...,...
103,Delta lying to the cstmrs like usual. Force me...,Customer is complaining about bag check and as...
104,"Hi SpotifyCares, any chance this may become a ...",The customer is complaining that he can't cros...
105,Come on O2 fix your connection with Carphone W...,Customer is having an issue with the connectio...
106,Raise your hand if you think VerizonSupport is...,Customer having am issue with internet as his...
107,hi. message on bottom right of screen says fi...,Customer is having an issue with message on bo...

In [25]:
l1 = out_df['inputs'].to_list()
l2 = in_df['content'].to_list()
l3 = val_df['inputs'].to_list()

In [26]:
l = l2+l1+l3

In [27]:
len(l)

1960

In [28]:
s1 = out_df['summaries'].to_list()
s2 = in_df['c_summary'].to_list()
s3 = val_df['summaries'].to_list()

In [29]:
s = s2+s1+s3

In [30]:
len(s)

1960

In [31]:
f = []
for i in range(1960):
    t = [l[i],s[i]]
    f.append(t)

In [32]:
f_df = pd.DataFrame(f,columns=["content",'c_summary'])

In [33]:
f_df

,content,c_summary
0,exciting news from openai they have just relea...,chatgptOpenAI has released their ChatGPT and ...
1,the first words i typed this morning git fetc...,This set of tweets discusses the recent launch...
2,i morning briefing how are universities dealin...,This set of tweets is discussing the use of Op...
3,the speed at with microsoft is executing on o...,"This set of tweets is discussing OpenAI, a com..."
4,openai integration tools for odoo editor are n...,This set of tweets discusses the integration o...
...,...,...
1955,Delta lying to the cstmrs like usual. Force me...,Customer is complaining about bag check and as...
1956,"Hi SpotifyCares, any chance this may become a ...",The customer is complaining that he can't cros...
1957,Come on O2 fix your connection with Carphone W...,Customer is having an issue with the connectio...
1958,Raise your hand if you think VerizonSupport is...,Customer having am issue with internet as his...
1959,hi. message on bottom right of screen says fi...,Customer is having an issue with message on bo...

In [34]:
f_df.to_csv("NLP.csv")